---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Slidey">
  <main transition:name="page" transition:animate="initial">
    <a href="/" class="secondary-bg"
      ><span class="title" transition:name="title-down">Down</span></a
    >
  </main>
</Layout>

<style is:global>
  main {
    grid-template-rows: 1fr;
  }
  ::view-transition-new(page) {
    animation: slideInUp 0.5s ease;
  }
  ::view-transition-old(page) {
    animation: slideOutUp 0.5s ease;
  }
</style>
